<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Горные лыжи</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5 text-center">Информация, которая поможет Вам в освоении горных лыж.</h1>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Горные лыжи</h2>
            <p>Го́рные лы́жи — особая разновидность лыж,
                используемая для спуска с горных склонов и в горнолыжном спорте. История современных горных лыж
                начинается с конца XVIII века, когда в Норвегии появились прочные деревянные лыжи, на которых можно
                было спускаться по склонам гор. Сначала для спуска с гор использовались обычные лыжи с полужёсткими
                креплениями, ботинок крепился к лыжам посредством кожаных ремней и металлических скоб. В 1930-е
                годы в Австрии ввели металлический кант, что делало лыжи долговечнее и удобнее в управлении.
                Следующие большие изменения в конструкции произошли после появления пластика. С помощью покрытых
                снизу пластиком лыж достигалась гораздо большая скорость, чем с помощью простых деревянных, что
                также повлекло за собой упрочнение конструкции лыж, креплений и ботинок. Горные лыжи обрели
                собственный вариант креплений, с жёстко фиксированной пяткой, и специальные ботинки.
                Первые лыжи, которые использовались для спуска с гор имели длину более 2-х метров. С развитием
                техники катания, менялась длина, геометрия и материалы. Кроме простых видов горнолыжного спорта
                с поворотами имеющими длинный радиус, появились виды спусков с более коротким радиусом,
                например «слалом». Экипировка сборной СССР образца 1975 года включала лыжи для слалома длиной
                210 см. В 1995 году средняя длина слаломных лыж составляла 180 см, а в 2005 уже меньше 165 см.</p>
        </div>
        <div class="col-md-6">
            <h2>Экипировка</h2>
            <p>Горные лыжи или сноуборд — зависит от веры. Горнолыжные и сноубордические ботинки —
                соответственно снаряду. Палки — для горнолыжников — обязательно, для сноубордистов — опционально.
                Например, если захочется совершить небольшой бэккантри-тур. Шлем — главный элемент защитной
                экипировки, который нужен не только для защиты от тяжёлых травм в случае падений или столкновения.
                Чаще всего он спасает от досадных травм, вроде удара бугелем, которые могут испортить отпуск.
                Вдобавок, на многих курортах катание без шлема запрещено!
                Маска — мы всегда рекомендуем брать две маски, даже если вы катаетесь только на курорте. Желательно с
                разными фильтрами
                на яркую и пасмурную погоду. Если вы катаетесь исключительно в зоне курорта и ваша маска со
                сменными фильтрами — достаточно одной.
                Защита (опционально) — защита спины, запястий, защитные шорты и гарды на палки — зависит от стиля вашего
                катания
                и личных представлений о безопасности.
                Рюкзак для катания — он же пойдёт в ручную кладь в самолёте. Термос, доп. одежда и друзья на Ваше
                усмотрение.</p>
        </div>
        <div class="col-md-6">
            <h2>Основные правила катания:</h2>
            <ul class="list-unstyled">
                <li>1. Уважение к окружающим
                <li>
                    Лыжник или сноубордист должен вести себя таким образом, чтобы не подвергать опасности и не наносить
                    ущерб окружающим.

                <li>2. Контроль скорости и траектории
                <li>
                    Лыжник или сноубордист должен контролировать свое движение по трассе. Необходимо выбирать скорость и
                    стиль катания соответственно своим способностям, особенностям рельефа, погодным условиям и плотности
                    траффика на горе.

                <li>3. Выбор направления
                <li>
                    Лыжник или сноубордист, едущий сверху, должен выбирать траекторию своего движения таким образом,
                    чтобы
                    не создавать опасности лыжника или сноубордиста, находящимся впереди.

                <li>4. Обгон
                <li>
                    Лыжник или сноубордист может совершить обгон другого лыжника или сноубордиста сверху, снизу, справа
                    или
                    слева, при условии, что он оставляет достаточно свободного места обгоняемому лыжнику или
                    сноубордисту
                    для любых намеренных и непреднамеренных движений.

                <li>5. Выход на склон, начало движения, движение вверх
                <li>
                    Лыжник или сноубордист, выходящий на размеченную трассу, начинающий движение после остановки или
                    движущийся вверх по склону, должен посмотреть вверх и вниз по склону для того, чтобы убедиться, что
                    он
                    может начать движение, не создавая опасности для себя и окружающих.

                <li>6. Остановка на склоне
                <li>
                    За исключением чрезвычайной необходимости лыжник или сноубордист должен избегать остановок на склоне
                    в
                    узких местах или там, где видимость ограничена. После падения в таких местах лыжник или сноубордист
                    должен как можно быстрее освободить склон.

                <li>7. Подъем и спуск без лыж
                <li>
                    Лыжник или сноубордист, поднимающийся вверх, как на лыжах так и без, а также спускающийся вниз без
                    лыж
                    должен придерживаться края трассы.

                <li>8. Соблюдение знаков и маркировки
                <li>
                    Лыжник или сноубордист должен соблюдать знаки и маркировку трасс.

                <li>9. Помощь при несчастных случая
                <li>
                    При несчастном случае долг каждого лыжника или сноубордиста оказать посильную помощь пострадавшему.

                <li>10. Идентификация при происшествиях
                <li>
                    Все лыжники или сноубордисты, а также свидетели, вне зависимости от участия в происшествии, должны
                    обменяться именами и адресами после происшествия..
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Топ-3 лучших горнолыжных курорта в России.</h2>
            <p>1 место. Горнолыжные курорты Краснодарского края, Роза хутор -
                <a href="https://rosakhutor.com/" target="_blank">https://rosakhutor.com/</a></p>
            <p>2 место. Домбай - <a href="https://dombai-kd.ru/" target="_blank">https://dombai-kd.ru/</a></p>
            <p>3 место. Эльбрус - <a href="https://resort-elbrus.ru/" target="_blank">https://resort-elbrus.ru/</a></p>
            <div id="map" style="height: 400px;"></div>
        </div>
        <div class="col-md-6">
            <h2>Всё ещё не уверены? Тогда вот тут вы найдете Вашу уверенность:</h2>
            <button onclick="window.location.href='http://127.0.0.1:8080/skiing_image'">
                Клик
            </button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    var map = L.map('map').setView([43.3504, 42.4396], 8); // Установка центра карты и масштаба

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
    }).addTo(map); // Добавление слоя карты OpenStreetMap

    var resorts = [
        { name: 'Роза Хутор', location: [43.6708, 40.3477] },
        { name: 'Домбай', location: [43.2562, 41.7339] },
        { name: 'Эльбрус', location: [43.3504, 42.4396] }
    ];

    resorts.forEach(function(resort) {
        L.marker(resort.location).addTo(map)
            .bindPopup(resort.name);
    });
</script>
</body>
</html>
