<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Горные лыжи</title>
</head>
<body>
<h1>Вдохновение здесь:</h1>
<img src="https://kartinki.pics/uploads/posts/2022-03/1646690473_5-kartinkin-net-p-gornie-lizhi-kartinki-6.jpg"
     style="width: 50%; height: auto;">
<img src="https://imageio.forbes.com/specials-images/imageserve/6413799b57ea935d6e6246a2/0x0.jpg"
     style="width: 50%; height: auto;">
<img src="https://sportishka.com/uploads/posts/2022-08/1661161037_9-sportishka-com-p-gornie-lizhi-zimnie-vkontakte-12.jpg"
     style="width: 50%; height: auto;">
<img src="https://sportishka.com/uploads/posts/2023-12/1701729242_sportishka-com-p-oboi-zimnie-gori-instagram-11.jpg"
     style="width: 50%; height: auto;">
<img src="https://vsegda-pomnim.com/uploads/posts/2022-04/1650920443_21-vsegda-pomnim-com-p-zasnezhennie-gori-foto-31.jpg"
     style="width: 50%; height: auto;">

</body>
</html>
